<div>
  <h2>If you're training with a SCITT</h2>

  <h3>Before you start your course</h3>

  Some SCITTs will start your induction or onboarding before you start your course.

  This might include inviting you to visit your placement school and giving you some eading or online tasks to do over the summer.

  <h3>When you start your course</h3>

  You’ll start your first placement by observing other teachers. As you learn more about teaching and grow in confidence, you’ll start to take on more responsibilities.

  This could be leading small sections of lessons or leading some one to one learning.

  You’ll have weekly meetings with your school-based mentor to discuss your progress.

  <h3>Autumn term (September to December)</h3>

  The amount you teach will slowly start to increase and you and your mentor will discuss when you’re confident enough to lead whole lessons.

  You’ll have a progress review to make sure you’re on track to meet the standards for qualified teacher status (QTS).

  You might also submit your first PGCE assessment, if you’re doing one.

  You might want to start thinking about looking at teaching roles on Teaching Vacancies – your provider will likely help you with this.

  <h3>Spring term (January to April)</h3>

  You’ll likely start your second placement in the spring term and your time spent teaching whole lessons will increase.

  Different providers will have different placement structures, so you may spend more time in some placement schools than others. But each trainee needs 120 days placement in at least 2 schools to get QTS.

  <h3>Summer term (April to July)</h3>

  You may submit another PGCE assignment.

  You’ll be continuing to gather evidence to show you meet your provider’s training criteria (your provider will explain exactly how).

  After your second placement, you might return to your first placement school, stay in your second, or possibly go to a third depending on the structure of the course at your specific provider.

  By the end of your training, you’ll need to have taught at least 80% of a full teacher’s timetable for at least 6 weeks.

  <h3>End of the academic year</h3>

  You’ll finish your placements near the end of the academic year and spend time preparing for your final assessments.

  Once you’ve passed your final assessments, you’ll be awarded QTS – congratulations!

  <h3>September</h3>

  You’re now an early career teacher (ECT)!

  For your first 2 years, you’ll receive a package of support. You'll get this automatically if you work in a maintained school but some academies and special schools provide this for ECTs, too.

  Find out more about support for early career teachers on Get Into Teaching.
</div>
