<div>
  <h2>If you're training with a university</h2>

  <h3>Before you start your course</h3>
  During the summer, your university will be working hard to match you with placement schools. Some universities might be open to or ask you to find your own placement school – talk to your provider to find out if this is something you’ll need to do.

  Your university might give you some reading or online tasks to do over the summer, too.

  <h3>When you start your course</h3>
  <h4>At your university</h4>

  You’ll meet your tutors, other trainees and find out exactly what to expect as part of your course.

  The start of your course might focus on educational theory, professionalism and subject knowledge.

  You’ll have university days with seminars and workshops – this could be weekly or termly, depending on your course.

  <h4>Your first placement</h4>

  In your first placement, you’ll start by mainly observing other teachers. As you grow more confident, you’ll start to take on more responsibilities.

  This could be leading small sections of lessons or leading some one to one learning.

  You’ll also have weekly meetings with your mentor at your placement school.

  <h3>Autumn term (September to December)</h3>

  The amount you teach will slowly start to increase and you and your mentor will discuss when you’re confident enough to lead whole lessons.

  You’ll have a progress review to make sure you’re on track to meet the standards for qualified teacher status (QTS).

  You might also submit your first PGCE assessment, if you’re doing one.

  You might want to start thinking about looking at teaching roles on Teaching Vacancies – your provider will likely help you with this.

  <h3>Spring term (January to April)</h3>

  You might spend another block of time with your university before you go on to your second placement.

  Different providers will have different placement structures, so you may spend more time in some placement schools than others. But each trainee needs 120 days placement in at least 2 schools to get QTS.

  Your time spent teaching whole lessons will increase.

  <h3>Summer term (April to July)</h3>

  You may submit another PGCE assignment.

  You’ll be continuing to gather evidence to show you meet your provider’s training criteria (your provider will explain exactly how).

  After your second placement, you might return to your first placement school, stay in your second, or possibly go to a third.

  By the end of your training, you’ll need to have taught at least 80% of a full teacher’s timetable for at least 6 weeks.

  <h3>End of the academic year</h3>

  You’ll finish your placements near the end of the academic year and spend time preparing for any final assessments.

  Once you’ve passed your final assessments, you’ll be awarded QTS – congratulations!

  <h3>September</h3>

  You’re now an early career teacher (ECT)!

  For your first 2 years, you’ll receive a package of support. You'll get this automatically if you work in a maintained school but some academies and special schools provide this for ECTs, too.

  Find out more about support for early career teachers on Get Into Teaching.
</div>
