<div class="dfe-card">
  <img src="https://placehold.co/600x400" alt="Sample Image">
  <div class="dfe-card-container">
    <h3 class="govuk-heading-m">
      <a href="<%= href %>" class="govuk-link govuk-link--no-visited-state dfe-card-link--header"><%= title %></a>
    </h3>
    <p>A short description for the card.</p>
    <p class="govuk-body-s">Meta information</p>
  </div>
</div>
