<%= govuk_footer(meta_items_title: "Helpful links", meta_items: [
  { text: "Feedback", href: "/feedback/new" },
  { text: "Get support <span class='govuk-visually-hidden'>. This is a mail to link.</span>".html_safe, href: "mailto:becomingateacher@digital.education.gov.uk" },
  { text: "Privacy policy", href: "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers" },
  { text: "Accessibility statement", href: "/accessibility" },
  { text: "Cookies policy", href: "/cookies" },
  { text: "Sitemap", href: "/sitemap" },
]) %>
