<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <%= link_to root_path, class: "govuk-header__link govuk-header__link--homepage" do %>
        <%= image_tag "department-for-education_white.png", alt: "Department for Education", class: "govuk-header__logotype govuk-header__logotype--default" %>
        <%= image_tag "department-for-education_black.png", alt: "Department for Education", class: "govuk-header__logotype govuk-header__logotype--focus" %>
      <% end %>
    </div>
  </div>
</header>
