<header class="dfe-header" role="banner">
  <div class="dfe-width-container dfe-header__container">
    <div class="dfe-header__logo">
      <%= link_to root_path, class: "dfe-header__link" do %>
        <%= image_tag "dfe-logo.png", class: "dfe-logo", alt: "Department for Education" %>
        <%= image_tag "dfe-logo-alt.png", class: "dfe-logo-hover", alt: "Department for Education" %>
      <% end %>
    </div>
    <div class="dfe-header__content" id="content-header">
    </div>
  </div>
</header>
