<aside class="side-navigation">
  <h2 class="govuk-heading-m"><%= data[:title] %></h2>

  <ul>
    <% data.dig(:steps).each do |step| %>
      <% is_active = step[:href] == "#" %>
      <li class="<%= 'active' if is_active %>">
        <%= link_to step[:title], step[:href], class: "govuk-link govuk-link--no-visited-state govuk-link--no-underline" %>
      </li>
    <% end %>
  </ul>
</aside>
