@use "govuk-frontend/dist/govuk" as govuk;

.card-with-image { 
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;

  @include govuk.govuk-media-query($from: desktop) {
    flex-direction: row;
  }

  .content {
    @include govuk.govuk-responsive-padding(6, "all");
  }

  &--light-blue {
    background-color: rgba(govuk.govuk-colour("light-blue"), 0.15);
  }

  &--light-grey {
    background-color: govuk.govuk-colour("light-grey");
  }
}
