@use "govuk-frontend/dist/govuk" as govuk;
@use "../../colours";

.quote {
  color: govuk.govuk-colour("black");
  background-color: colours.$teach-light-blue;

  @include govuk.govuk-responsive-padding(6, "all");
  @include govuk.govuk-font-size(19);

  @include govuk.govuk-media-query($from: tablet) {
    height: 100%;
    align-items: baseline;
    box-sizing: border-box;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

  blockquote::before {
    content: open-quote;
  }

  blockquote::after {
    content: close-quote;
  }

  .quote__attribution {
    font-weight: bold;
    margin: 0;

    @include govuk.govuk-responsive-margin(4, "top");
  }
}
