<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">hello</h1>

    <p class="govuk-body">
    <%= render "shared/card" %>
    </p>

  </div>
</div>
