<%= content_for :page_title, "Sorry, this service is unavailable" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, this service is unavailable</h1>
    <p class="govuk-body">
      Visit <%= govuk_link_to "Get Into Teaching", "https://getintoteaching.education.gov.uk/" %> for information about starting a teaching career.
    </p>
  </div>
</div>
