@use "govuk-frontend/dist/govuk" with (
  $govuk-font-url-function: "font-url",
  $govuk-images-path: "images/",
  $govuk-fonts-path: "fonts/"
);

@use "dfe-frontend/packages/dfefrontend" as dfe;
@use "colours";
@use "utilities";
@use "header";
@use "page-header";
@use "side-nav";
@use "forms";
@use "typography";
@use "flex";
@use "quick-links";
@use "cookies";
@use "page-feedback";
@use "notification-banner";
@use "steps";

// View Components
@use "components/cards/simple-card";
@use "components/cards/card-with-image";
@use "components/cards/quote";
@use "components/cards/prompt";

.govuk-width-container {
  @include dfe.govuk-width-container;
}
