@use "govuk-frontend/dist/govuk" with (
  $govuk-font-url-function: "font-url",
  $govuk-images-path: "images/",
  $govuk-fonts-path: "fonts/"
);

@use "dfe-frontend/packages/dfefrontend" as dfe;
@use "utilities";
@use "header";
@use "page-header";
@use "feedback";
@use "layout";

// Components
@use "components/horizontal-card";

// View Components
@use "components/cards/simple-card";

.govuk-width-container {
  @include dfe.govuk-width-container;
}
