@use "govuk-frontend/dist/govuk" as govuk;

.flex {
  display: flex;
  flex-direction: column;

  @include govuk.govuk-media-query($from: tablet) {
    flex-direction: row;
  }
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 1em;
}

.items-center {
  align-items: center
}
