.govuk-header__navigation {
  padding: 18px 0 0px !important;
}
.govuk-header__link {
  .govuk-header__logotype { 
    height: 30px; 
  }

  .govuk-header__logotype--focus { 
    display: none;
  }

  &:focus {
    .govuk-header__logotype--default { 
      display: none;
    }

    .govuk-header__logotype--focus { 
      display: inline-block;
    }
  }
}

.govuk-header__navigation-list {
  display: flex;
  justify-content: flex-end;

  > li:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
  }

  .govuk-header__navigation-item {
    padding-top: 0px;
  }
}
