.govuk-header__link {
  .govuk-header__logotype { 
    height: 30px; 
  }

  .govuk-header__logotype--focus { display: none; }

  &:focus {
    .govuk-header__logotype--default { display: none;}
    .govuk-header__logotype--focus { display: inline-block;}
  }
}
