@use "govuk-frontend/dist/govuk" as govuk;

.side-navigation {
  @include govuk.govuk-media-query($from: tablet) {
    width: 260px;
  }
}

.responsive-flex-container {
  // Row on desktop, will collapse to a column on mobile
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include govuk.govuk-media-query($from: tablet) {
    flex-direction: row;
  }
}
