@use "govuk-frontend/dist/govuk" as govuk;

.page-header { 
  overflow: hidden;
  background-color: #EBF2F7;

  .govuk-width-container {

    .content-container {
      @include govuk.govuk-responsive-padding(6, "top");
      @include govuk.govuk-responsive-padding(6, "bottom");

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .image { width: 10rem; }

      @include govuk.govuk-media-query($from: tablet) {
        flex-direction: row;

        .image { width: 30rem; }
      }
    }
  }
}

.image-header__container {
  max-width: 2000px;
  margin: auto;

  .image-header {
    display: flex;
    background-color: rgba(govuk.govuk-colour("light-blue"), 0.15);
    height: 200px;
    overflow: hidden;
    position: relative;
    justify-content: flex-end;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right top;

      @include govuk.govuk-media-query($from: tablet) {
        width: 70%;
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      transform: translate(-0%, -50%);
      left: 0;
    }
  }
}
