<div class="govuk-!-margin-top-7">
  <h2>Your next steps to feeling placement ready</h2>
</div>

<div class="flex justify-between gap govuk-!-margin-bottom-7">
  <%= render Cards::CardWithImageComponent.new(
    title: "Your first placement",
    description: "Find out how you can prepare for your first school placement, from accessing the school to your professional conduct.",
    button_text: "Prepare for your placement",
    button_href: "/prepare-for-training/prepare-for-your-first-school-placement",
    heading_tag: "h3",
    background_color: "light-grey") 
  %>
  <%= render Cards::CardWithImageComponent.new(
    title: "Your school-based mentor",
    description: "Find out what to expect from your school-based mentor, how they’ll assess you and where else you can get support.",
    button_text: "What to expect from your mentor",
    button_href: "/prepare-for-training/what-to-expect-from-your-school-based-mentor",
    heading_tag: "h3",
    background_color: "light-grey") 
  %>
</div>
