<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="heading--yellow">Prepare for training</h2>
    <%= govuk_list [
      govuk_link_to("How to prepare for teacher training", "/prepare-for-training/how-to-prepare-for-teacher-training"), 
      govuk_link_to("How to prepare for your first school placement", "/prepare-for-training/prepare-for-your-first-school-placement"),
      govuk_link_to("What to expect from your teacher training provider", "/prepare-for-training/what-to-expect-from-your-teacher-training-provider"),
      govuk_link_to("What to expect from your school-based mentor", "/prepare-for-training/what-to-expect-from-your-school-based-mentor"),
      govuk_link_to("Read advice from former trainees", "#")
    ], classes: "quick-links__list" %>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading--pink">Resources</h2>
    <%= govuk_list [
      govuk_link_to("Lesson planning", "/resources-while-training/lesson-planning-as-a-trainee-teacher"), 
      govuk_link_to("Behaviour management", "/resources-while-training/behaviour-management"),
      govuk_link_to("Meeting the teachers' standards", "/resources-while-training/meeting-the-teachers-standards")
    ], classes: "quick-links__list" %>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading--turquoise">Get support</h2>
    <%= govuk_list [
      govuk_link_to("Support from within your course", "/get-support/get-support-through-your-training-course"), 
      govuk_link_to("Support available outside your course", "/get-support/get-support-outside-your-training"),
      govuk_link_to("Funding information from Get Into Teaching", "https://getintoteaching.education.gov.uk/funding-and-support")
    ], classes: "quick-links__list" %>
  </div>
</div>
