<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="heading--yellow">Prepare for training</h2>
    <%= govuk_list [
      govuk_link_to("How to prepare for teacher training", "#"), 
      govuk_link_to("Prepare for your first school placement", "#"),
      govuk_link_to("What to ask your teacher training provider", "#"),
      govuk_link_to("What to expect from your teacher training mentor", "#"),
      govuk_link_to("Read advice from former trainees", "#")
    ] %>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading--pink">Resources</h2>
    <%= govuk_list [
      govuk_link_to("Lesson planning", "#"), 
      govuk_link_to("Behaviour management", "#"),
      govuk_link_to("Meeting the teachers' standards", "#"),
    ] %>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading--turquoise">Get support</h2>
    <%= govuk_list [
      govuk_link_to("Support from within your course", "#"), 
      govuk_link_to("Support available outside your course", "#"),
      govuk_link_to("Funding information from Get Into Teaching", "#"),
    ] %>
  </div>
</div>
