<% content_for :content do %>
  <% if @front_matter && @front_matter.has_key?(:page_header) %>
    <%= render @front_matter.dig(:page_header, :partial).presence || "shared/page_headers/default" %>
  <% end %>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>
<% end %>

<%= render template: "layouts/base" %>
