<% content_for :content do %>
  <%= render "shared/page_header" %>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>
<% end %>

<%= render template: "layouts/base" %>
